* {
    margin: 0;
    padding: 0;
    box-sizing:inherit;
}

body {
    background-image: url('https://www.visitmilwaukee.org/remote.jpg.ashx?mode=crop&width=1920&height=1080&scale=both&urlb64=aHR0cDovL2Fzc2V0cy5zaW1wbGV2aWV3aW5jLmNvbS9zaW1wbGV2aWV3L2ltYWdlL3VwbG9hZC9jX2ZpdCx3XzE5MjAsaF8xMDgwL2NybS9taWx3YXVrZWUvQW1lcmljYW5GYW1pbHlGaWVsZF8wOUY4MTRBMi01MDU2LUEzNkYtMjNDRTg0NDRGQjE0Rjg0NS0wOWY4MTNhYzUwNTZhMzZfMDlmODE0ZmYtNTA1Ni1hMzZmLTIzMzA2NjE5YWU0NDYyNjAuanBn&hmac=rx6jqKlmfuQ');
}

html {
    box-sizing: border-box;
}

header {
    width: 100%;
    height: auto;
    background-color: #FFC52F;
}

.sec_container {
    margin-top: 10px;
    width: 70%;
    height: auto;
    height: 700px;
    overflow: scroll;
    margin-left: 10px;
}

.sec_container div {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    font-family: 'Rubik', sans-serif;
    background-color: white;
}

.sec_container div:hover {
    padding-bottom: 20px;
    display: flex;
    flex-wrap: nowrap;
    background-color: #eaebf5;
}

.playerImg {
    width: 15%;
    background-color: white;
}

.logo2 {
    width: 25%;
}

.split_container {
    display: flex;
}

.left_sec-container {
    margin-top: 10px;
    width: 30%;
    height: 550px;
    text-align: center;
    opacity: 0;
    transition:all 1s;
    border-radius: 10px;
    border: 1px solid black;
}

.left_sec-container img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    border: 5px solid #12284b;
    width: 100%;
    background-color: white;
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/b/b8/Milwaukee_Brewers_logo.svg/800px-Milwaukee_Brewers_logo.svg.png');
    background-position: center;
    background-size: cover;
}

.left_sec-container h2{
    border: 0.5px solid black;
    background-color: #B5B7CF;
    width: 100%;
}

.info_div {
    border: 0.5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    background-color:#eaebf5;
    font-family: 'Rubik', sans-serif;
}

.center {
    text-align: center;
    margin-top: -18px;
}

.logo {
    width: 10%
}

.playerImg {
    border: 1px solid black;
}

.playName{
    flex: 1;
    margin-left: 10px;
}

.playID {
    flex: 1
}

/* .hidden {
    display: none;
} */

.players {
    display: flex;
    justify-content: center;
}

.div_nav {
    font-family: 'Rubik', sans-serif;
    padding-left: 10px;
    background-color: #12284b;
    color:#FFC52F;
    font-weight: 300;
    width: 100%;
    cursor: default;
}

@media screen and (min-width: 1200px) {
    /* .sec_container {
        width: 70%;
    } */
    .left_sec-container {
        width: 20%;
    }
}